<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="za.ac.sun.cs.Intlola.recordlocal"
            name="recordlocal">
      </command>
      <command
            id="za.ac.sun.cs.Intlola.recordremote"
            name="recordremote">
      </command>
      <command
            id="za.ac.sun.cs.Intlola.recordstop"
            name="recordstop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Intlola">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="za.ac.sun.cs.Intlola.recordlocal"
                  label="Record Local"
                  style="push">
            </command>
            <command
                  commandId="za.ac.sun.cs.Intlola.recordremote"
                  label="Record Remote"
                  style="push">
            </command>
            <command
                  commandId="za.ac.sun.cs.Intlola.recordstop"
                  label="Record Stop"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="za.ac.sun.cs.intlola.IntlolaRecordLocal"
            commandId="za.ac.sun.cs.Intlola.recordlocal">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <not>
                        <test
                              args="intlola.record"
                              property="org.eclipse.core.resources.projectSessionProperty">
                        </test>
                     </not>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="za.ac.sun.cs.intlola.IntlolaRecordRemote"
            commandId="za.ac.sun.cs.Intlola.recordremote">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                        <test
                              args="intlola.recordx"
                              property="org.eclipse.core.resources.projectSessionProperty">
                        </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="za.ac.sun.cs.intlola.IntlolaRecordStop"
            commandId="za.ac.sun.cs.Intlola.recordstop">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           args="intlola.record"
                           property="org.eclipse.core.resources.projectSessionProperty">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>


</plugin>
