<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Intlola"
            class="za.ac.sun.cs.intlola.preferences.PreferencePage"
            id="za.ac.sun.cs.intlola.preferences.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="za.ac.sun.cs.intlola.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="za.ac.sun.cs.Intlola.record"
            name="record">
      </command>
      <command
            id="za.ac.sun.cs.Intlola.recordstop"
            name="recordstop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Intlola">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="za.ac.sun.cs.Intlola.record"
                  label="Record"
                  style="push">
            </command>
            <command
                  commandId="za.ac.sun.cs.Intlola.recordstop"
                  label="Record Stop"
                  style="push">
            </command>
         </menu>
      </menuContribution> 
     <!-- <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar id="za.ac.sun.cs.intlola.toolbar">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="za.ac.sun.cs.Intlola.record"
                  icon="icons/intlola.gif"
                  tooltip="Record">
            </command>
            <command
                  commandId="za.ac.sun.cs.Intlola.recordstop"
                  icon="icons/stop.gif"
                  tooltip="Record Stop">
            </command>
         </toolbar>
      </menuContribution> !-->
    </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="za.ac.sun.cs.intlola.IntlolaRecord"
            commandId="za.ac.sun.cs.Intlola.record">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <not>
                        <test
                              args="intlola.record"
                              property="org.eclipse.core.resources.projectSessionProperty">
                        </test>
                     </not>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="za.ac.sun.cs.intlola.IntlolaRecordStop"
            commandId="za.ac.sun.cs.Intlola.recordstop">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           args="intlola.record"
                           property="org.eclipse.core.resources.projectSessionProperty">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>